@font-face {
  font-family: "NotoSans";
  src: url("./include/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("./include/RobotoCondensed.ttf") format("truetype");
}

/* Class used for transcriptions, example: Kana -> Romaji (Japanese to Roman alphabet) */
.tsh_transcript {
  font-size: 60%;
  text-transform: uppercase;
  align-self: end;
}

.tsh_character_container {
  display: flex;
  width: 100%;
  height: 100%;
}

.tsh_character,
.tsh_character > div {
  position: relative;
  width: 100%;
  height: 100%;
}

.text {
  white-space: nowrap;
  display: flex;
  min-width: 100%;
  width: fit-content;
  place-items: center;
  place-content: center;
  height: 100%;
  gap: inherit;
  transform-origin: left;
}

/* Main theme -- Dark Gradient */
:root {
  --font: "RobotoCondensed";
  --border-radius: 16px;
  --text-color: white;
  --bg-color: #18181b;
  --p1-score-bg-color: linear-gradient(
    135deg,
    rgba(189, 63, 50, 1) 0%,
    rgba(203, 53, 107, 1) 100%
  );
  --p2-score-bg-color: linear-gradient(
    225deg,
    rgba(47, 128, 237, 1) 0%,
    rgba(60, 139, 166, 1) 100%
  );
  --p1-sponsor-color: #ff7a6d;
  --p2-sponsor-color: #29b6f6;
  --p1-score-color: white;
  --p2-score-color: white;
}


/* Uncomment for themes */

/* Dark Solid Theme */
/* :root {
  --text-color: white;
  --bg-color: #18181b;
  --p1-score-bg-color: #ff3837ff;
  --p2-score-bg-color: #1255a3ff;
  --p1-score-color: white;
  --p2-score-color: white;
} */

/* Light Gradient Theme */
/* :root {
  --text-color: black;
  --bg-color: #e2ebf0ff;
  --p1-sponsor-color: #a31212;
  --p2-sponsor-color: #1255a3ff;
} */
