.absol {
    position: absolute;
}

:root {
    --tls-purple: #3d0082;
    --tls-yellow: #efd000;
    --tls-black:  #333333
}

@font-face {
    font-family: "Gobold";
    src: url("../RessourcesTLS/common/Fonts/Gobold\ Extra1.otf");
}

#logo-soc {
background-image: url("../RessourcesTLS/SOC/Overlay/Logo.png");
}

#logo-tls {
    background-image: url("../RessourcesTLS/common/Overlay/Logo.png");
}

#logo-ogc {
    background-image: url("../RessourcesTLS/Images/occitania\ gaming\ convention.png");
}

#logo-gaminglink {
    background-image: url("../RessourcesTLS/Images/gaminglink.png");
}