.logo{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#logo-tls {
    background-image: url("../../RessourcesTLS/common/Overlay/Logo.png");
  }
  
  #logo-soc {
    background-image: url("../../RessourcesTLS/SOC/Overlay/Logo.png");
  }