body {
    font-family: var(--font);
    color: var(--tls-yellow);
    font-weight: bold;
    opacity: 0;
    overflow: hidden;
    margin: 0;
    letter-spacing: 1px;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
      drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
      drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
      drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    gap: 16px;
    color: var(--text-color);
    flex-wrap: wrap;
    position: absolute;
    bottom: 50px;
  }
  
  .commentator_container {
    width: 300ox;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 30px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 12px;
    background: var(--bg-color);
  }
  
  .mic_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("./icon_mic.svg");
    background-size: contain;
  }
  
  .name {
    font-size: 40px;
    color: var(--tls-yellow)
  }
  
  .team {
    opacity: 0.6;
  }
  
  .twitter {
    font-size: 30px;
  }
  
  .icon {
    width: 128px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-grow: 1;
  }
  
  .index_display {
    position: absolute;
    bottom: 8px;
    right: 32px;
    z-index: 999;
    color: white;
    font-size: 100px;
    text-shadow: 12px 12px 2px black;
  }
  
  .logo {
    position: absolute;
    bottom: 40px;
    left: 865;
    width: 138px;
    height: 138px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: var(--border-radius);
    z-index: 9;
  }