
:root{
    --text-color: white;
}

.recent_sets_title {

    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 1))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 1))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 1))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 1));
}

.recent_sets_disclaimer {
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 1))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 1))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 1))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 1));
}
  
.text {
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 1))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 1))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 1))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 1));
}