
:root{
  --text-color: black;
}

body {
  font-family: "Dosis";
  letter-spacing: 1.2px;
  font-weight: bold;
  opacity: 0;
  overflow: hidden;
  margin: 0;
}

.container {
  position: absolute;
  color: black;
  display: flex;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  align-items: center;
  padding: 20px 40px;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
}

.recent_sets {
  position: absolute;
  width: 100%;
  height: 718px;
  color: var(--text-color);
  font-size: 50px;
  place-content: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.recent_sets_content {
  width: 100%;
  height: 100%;
}

.recent_sets .text {
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  gap: 8px;
}

.recent_sets_title {
  text-align: center;
  flex-grow: 0;
  width: 100%;
  margin-bottom: 20px;
  font-family: "Gobold";
  font-size: 80px;
}

.recent_sets_disclaimer {
  text-align: center;
  flex-grow: 0;
  width: 100%;
  margin-bottom: 20px;
  font-family: "Gobold";
  font-size: 40px;
}

/* Players Section */
.recent_sets_players .text {
  flex-direction: row;
}

.recent_sets_players {
  width: 100%;
  height: 200px;
  display: flex;
  color: var(--text-color);
  align-content: center;
  justify-content: center;
  font-size: 50px;
  white-space: nowrap;  
  align-items: center;
  flex-grow: 0;
  margin-left: 2px;
  margin-bottom: 20px;
  font-family: "Gobold";
}

.player_1 {
  width: 50%;
  text-align: left;
  justify-content: left;
  padding: 10px;
}

.player_2 {
  width: 50%;
  text-align: right;
  justify-content: right;
  padding: 10px;
}

#set_count {
  color: var(--tls-yellow);
  font-size: 65px;
}

.player_1 .sponsor {
  color: var(--tls-yellow);
}

.player_2 .sponsor {
  color: var(--tls-yellow);
}

/* Recent Sets Section */
.set_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: var(--text-color);
  align-content: center;
  margin-left: 40px;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  box-sizing: border-box;
  gap: 16px;
  font-size: 32px;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
}

.set_info {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-size: 22px;
  color: var(--text-color);
  justify-content: center;
  width: 100%;
}

.set_date {
  opacity: 0.75;
}

.set_title {
  text-overflow: ellipsis;
  text-align: right;
  justify-content: right;
  overflow: hidden;
  font-size: 55px;
  padding-left: 20px;
  padding-right: 40px;
  color: var(--text-color);
  width: 50%;
}

.set_data {
  text-overflow: ellipsis;
  text-align: left;
  justify-content: left;
  overflow: hidden;
  font-size: 55px;
  padding-right: 20px;
  padding-left: 40px;
  color: var(--text-color);
  width: 50%;
}

.set_round {
  opacity: 0.75;
}

.wifi_icon {
  -webkit-mask-image: url(./wifi.svg);
  background-color: var(--text-color);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 6px;
  display: inline-block;
}

.set_winner {
  font-size: 70px;
  width: 96px;
  height: 96px;
  text-align: center;
  line-height: 88px;
  border-radius: 100%;
  background: #29b548;
  color: var(--text-color);
  flex-shrink: 0;
}

.set_loser {
  font-size: 70px;
  width: 96px;
  height: 96px;
  text-align: center;
  line-height: 88px;
  border-radius: 100%;
  background: #ff3837;
  color: var(--text-color);
  flex-shrink: 0;
}

.lds-ring {
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 35%;
  width: 256px;
  height: 256px;
  margin: 12px;
  border: 48px solid var(--text-color);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--text-color) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
